<%- include('../partials/header.ejs', {user}) %>

<div class="m-3">
    <h2 class="p-2">All Goals</h2>
</div>

<div class="list-group m-3">
    <% goal.forEach(goal => { %>
        <a href="/goals/<%=goal.id %>" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-30 justify-content-between">
            <h4 class="mb-1">Goal: <%= goal.name %></h4>
            <span class="badge bg-primary rounded-pill">14</span>
        </div>
            <p class="mb-1"> <span class="h5">Due Date:</span> <%= goal.due_date %></p>
            <p class="mb-1"> <span class="h5">Goal Progress: </span> <%= goal.complete %></p>
        </a>
    <% }) %>
</div>
<%- include('../partials/footer.ejs') %>