<%- include('../partials/header.ejs', {user}) %>
<!-- This page is linked by the href in the a tag surrounding the update button on the goal show page -->
<h1>Update <%= goal.name %></h1>


<div class="container accordHead">
    <div class="row justify-content-center my-3">
        <!-- Beginning first accordion -->
        <div class="accordion" id="goalInfo">
            <div class="accordion-item accordHead">
                <h2 class="accordion-header accordHead" id="headingOne">
                    <button class="accordion-button accordHeadButton" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Add a Photo to Your Goal
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show accordHead"
                    aria-labelledby="headingOne" data-bs-parent="goalInfo">
                    <div class="accordion-body">
                        <!-- photo selection -->
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6">
                                <p>Please select a photo header for your goal.</p>
                                <input type="text" class="form-control shadow-sm" id="searchInput" name="photoSearch"
                                    placeholder="Search 'workout'">
                                <button class="btn btn-primary my-3 photoSearch" name="search">Search</button>
                                <button type="submit" class="btn btn-primary my-3 photoSelect">Select Photo</button>
                <form method="POST" action="/goals/<%= goal.id %>?_method=PUT">
                            </div>
                        </div>
                        <div class="container text-center bg-secondary bg-gradient imgResults">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <!-- End first accordion -->

            <!-- Beginning second accordion -->
        <div class="accordion" id="goalInfo">
            <div class="accordion-item accordHead">
                <h2 class="accordion-header accordHead" id="goalPhoto">
                    <button class="accordion-button collapsed accordHeadButton2" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false"
                        aria-controls="collapseTwo">
                        Update Goal's Information
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse accordHead" aria-labelledby="goalPhoto"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <!-- form goal update -->
                        <!-- PUT FORM for goal Data -->
                        
                            <div class="row gy-2 gx-3 align-items-center">
                            <legend>Update Goal</legend>

                            <label for="name" class="form-label">Goal name</label>
                            <input type="text" class="form-control shadow-sm" id="name" name="name"
                                value="<%= goal.name %>">

                            <label for="description" class="form-label"></label>Describe Event</label>
                            <textarea type="text" class="form-control shadow-sm" id="description" name="description"
                                cols="10" rows="5"><%= goal.description %></textarea>

                            <label for="dueDate" class="form-label">Due Date</label>
                            <input type="date" class="form-control shadow-sm" id="dueDate" name="dueDate"
                                value="<%= goal.due_date %>">

                            <label for="progress">Update goal's progress:</label>
                            <select class="form-select form-select-md mb-3" aria-label=".form-select-lg example"
                                id="progress" name="progress">
                                <option selected>Update Progress</option>
                                <option value="Not-Started">Not Started</option>
                                <option value="In-Progress">In Progress</option>
                                <option value="Complete">Complete</option>
                            </select>

                            <div class="col-auto m-3">
                                <label for="public" class="form-label">Public or Private?</label>
                                <div class="mx-2">
                                    <input type="radio" id="public" name="public" value="Public" class="mx-2"
                                        checked>
                                    <label for="Public">Public</label>
                                    <input type="radio" id="private" name="public" value="Private" class="mx-2">
                                    <label for="Private">Private</label>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="submit" class="btn btn-dark shadow-sm" id="update">Update
                                    Goal</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
            <!-- End second accordion -->
        </div>
    </div>
</div>

<script>

    //FETCH to my server for info from backend, which will prevent page from refreshing
    console.log('script is running')
    const searchPhoto = document.querySelector('.photoSearch')
    const searchInput = document.querySelector('#searchInput')
    const imageResults = document.querySelector('.imgResults')
    const photoSelect = document.querySelector('.photoSelect')

    searchPhoto.addEventListener('click', async function () {
        const response = await fetch(`/api/${searchInput.value}`)
        const data = await response.json()
        // console.log(imageResults)
        let htmlString = ""
        data.forEach(photo=> { 
            htmlString += `<label class=\"m-1\">
                <input type=\"radio\" id=\"${photo.id}" name=\"images\" value=\"${photo.urls.regular}\" class=\"hideRadio\">
                <img src=\"${photo.urls.regular}&fm=jpg&w=200&fit=max&h=150\"
                    id=\"${photo.id} \" class=\"images img-thumbnail\" alt=\"${photo.alt_description}\">
            </label>`
            })
            console.log(htmlString)
            imageResults.innerHTML = htmlString
            // console.log(htmlString)
    })

    photoSelect.addEventListener('click', async function () {
        console.log('I\'m clicked')
        //grab elements, get data.id to identify photo id
        const searchInput = document.querySelector('#searchInput')
        const response = await fetch(`/api/${searchInput.value}`)
        const data = await response.json()
        // console.log(data)
        //grab the radio elements
        const checkedImage = document.querySelectorAll('img')
        console.log(checkedImage)
        // if()
    })

</script>
    <%- include('../partials/footer.ejs') %>