<%- include('../partials/header.ejs', {user}) %>

<div class="row d-flex justify-content-center">
    <div class="col-md-6">
    <p>Please select a photo header for your goal.</p>
    <form method="POST" action="/goals/<%= goal.id %>">
          <input type="text" class="form-control shadow-sm" name="photoSearch" placeholder="Search 'workout'">
          <button class="btn btn-primary my-3" name="search">Search</button>
    </div>
    </div>
    <div class="container text-center bg-secondary bg-gradient">
      <% photo.forEach(photo => { %>
        <label class="m-1">
          <input type="radio" id="<%= photo.id %>" name="images" value="<%= photo.urls.regular %>">
              <img src="<%= photo.urls.regular %>&fm=jpg&w=200&fit=max&h=150" id="<%= photo.id %>>" class="images" alt="<%= photo.description %>" class="img-thumbnail">
        </label>
      <% }) %>
      <button type="submit" class="btn btn-primary my-3">Select Photo</button>
    </div>
  </form>
</div>

<%- include('../partials/footer.ejs') %>