
<% if (message) { %>
    <p><%= message %></p>
<% } %>

<h1>Goal: <%= goal.name %></h1>
<p>You are signed in as <%= user %></p>
<p>Project Description: <%= goal.description %></p>
<p>Due Date: <%= goal.due_date %></p>

<form method="POST" action="/goals/<%= goal.id %>?_method=DELETE">
<label for="delete">Delete Goal</label>
<button type="submit" id="delete" name="_method">Delete</button>
</form>

<a href="/goals/<%= goal.id %>/edit"><button type="submit" id="update" name="update">Update Goal</button></a>
