<%- include('../partials/header.ejs', {user}) %>

<!-- Header Card with Img Cap -->
<div class="card mb-3 ">
  <img src="<%= goal.img_url %>" class="goalheaderimg shadow-lg" alt="...">
  <div class="card-img-overlay">
    <a href="<%= goal.id %> "><button class="btn btn-sm btn-light border">Update Photo</button></a>
  </div>
  <div class="card-body">
      <h5 class="card-title">Goal: <%= goal.name %></h5>
      <p class="card-text"><span class="fw-bold">Goal Description:</span> <%= goal.description %></p>
  </div>
</div>

<!-- Goals/projects Dashboard -->
<div class="row d-flex justify-content-center">
    <div class="col-md-4 border border-1 rounded projectInfoHeader">
      <ul class="list-group p-3 rounded">
        <li class="list-group-item"><h5><span class="fw-bold">Project Name:</span> associated with goal</h5></li>
        <li class="list-group-item"><h6><span class="fw-bold">Other Goals:</span> associated with this project</h6></li>
      </ul>
      <div class="card-body card p-3">
        <h5 class="card-title p-2">Goal's Progress</h5>
        <div class="progress m-1">
          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
      </div>
    </div>
      <div class="card-body card p-3">
        <h5 class="card-title p-2">Tasks Due</h5>
        <div class="row">
        <span class="col badge bg-primary rounded-pill mx-2">5 Due Soon</span>
        <span class="col badge bg-warning rounded-pill mx-2">5 Due Now</span>
      </div>
    </div>
    </div>

    <div class="col-md-6 border border-1 rounded projectInfoHeader">
      <ul class="list-group p-3 rounded">
        <li class="list-group-item"><h2><span class="fw-bold">Goal:</span> <%= goal.name %></h2></li>
        <li class="list-group-item"><p><span class="fw-bold">Project Description:</span> <%= goal.description %></p></li>
        <li class="list-group-item"><p><span class="fw-bold">Due Date:</span>
        </span> <%= goal.due_date %></p></li>
        <li class="list-group-item"><p><span class="fw-bold">Goal Progress:</span> <%= goal.complete %></p></li>
        <li class="list-group-item"><p><span class="fw-bold">Who can see goal:</span> <%= goal.public %></p></li>
      
      <li class="list-group-item">
        <div class="row">
          <div class="col-6">
          <form method="POST" action="/goals/<%= goal.id %>?_method=DELETE">
            <label for="delete"></label>
            <button class="btn btn-dark" type="submit" id="delete" name="_method">Delete</button>
          </form>
        </div>
          <div class="col-6">
            <a href="/goals/<%= goal.id %>/edit"><button class="btn btn-dark"  type="submit" id="update" name="update">Update Goal</button></a>
        </div>
      </div>
      </li>
    </ul>   
  </div>
</div>

<!-- All Tasks -->
<div class="row d-flex justify-content-center mt-3 mb-5">
  <div class="col-md-10">
  <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
        All Tasks
      </button>
      <button type="button" class="list-group-item list-group-item-action">A second button item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
    </div>
  </div>
</div>


  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
    <p>Please select a photo header for your goal.</p>
    <form method="POST" action="/goals/<%= goal.id %>">
          <input type="text" class="form-control shadow-sm" name="photoSearch" placeholder="Search 'workout'">
          <button class="btn btn-primary my-3" name="search">Search</button>
          <a href="/goals/<%= goal.id %>?search=dog" class="">Search</a>
    </div>
    </div>
    <div class="container text-center bg-secondary bg-gradient">
      <% photo.forEach(photo => { %>
        <label class="m-1">
          <input type="radio" id="<%= photo.id %>" name="images" value="<%= photo.urls.regular %>">
              <img src="<%= photo.urls.regular %>&fm=jpg&w=200&fit=max&h=150" id="<%= photo.id %>>" class="images" alt="<%= photo.description %>" class="img-thumbnail">
        </label>
      <% }) %>
      <button type="submit" class="btn btn-primary my-3">Select Photo</button>
    </div>
  </form>
</div>
<%- include('../partials/footer.ejs') %>
