<%- include('../partials/header.ejs', {user}) %>

<!-- Header Card with Img Cap -->
<div class="card mb-3 ">
  <img src="<%= goal.img_url %>" class="goalheaderimg shadow-lg" alt="...">
  <div class="card-img-overlay">
    <a href="/goals/<%= goal.id %>/photo "><button class="btn btn-sm btn-light border">Update Photo</button></a>
  </div>
  <div class="card-body">
      <h5 class="card-title">Goal: <%= goal.name %></h5>
      <p class="card-text"><span class="fw-bold">Goal Description:</span> <%= goal.description %></p>
  </div>
</div>

<!-- Goals/projects Dashboard -->
<div class="row d-flex justify-content-center">
    <div class="col-md-4 border border-1 rounded projectInfoHeader">
      <ul class="list-group p-3 rounded">
        <li class="list-group-item"><h5><span class="fw-bold">Project Name:</span> associated with goal</h5></li>
        <li class="list-group-item"><h6><span class="fw-bold">Other Goals:</span> associated with this project</h6></li>
      </ul>
      <div class="card-body card p-3">
        <h5 class="card-title p-2">Goal's Progress</h5>
        <div class="progress m-1">
          <div class="progress-bar" role="progressbar" aria-label="Example with label" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
      </div>
    </div>
      <div class="card-body card p-3">
        <h5 class="card-title p-2">Tasks Due</h5>
        <div class="row">
        <span class="col badge bg-primary rounded-pill mx-2">5 Due Soon</span>
        <span class="col badge bg-warning rounded-pill mx-2">5 Due Now</span>
      </div>
    </div>
    </div>

    <div class="col-md-6 border border-1 rounded projectInfoHeader">
      <ul class="list-group p-3 rounded">
        <li class="list-group-item"><h2><span class="fw-bold">Goal:</span> <%= goal.name %></h2></li>
        <li class="list-group-item"><p><span class="fw-bold">Project Description:</span> <%= goal.description %></p></li>
        <li class="list-group-item"><p><span class="fw-bold">Due Date:</span>
        </span> <%= goal.due_date %></p></li>
        <li class="list-group-item"><p><span class="fw-bold">Goal Progress:</span> <%= goal.complete %></p></li>
        <li class="list-group-item"><p><span class="fw-bold">Who can see goal:</span> <%= goal.public %></p></li>
      
      <li class="list-group-item">
        <div class="row">
          <div class="col-6">
          <form method="POST" action="/goals/<%= goal.id %>?_method=DELETE">
            <label for="delete"></label>
            <button class="btn btn-dark" type="submit" id="delete" name="_method">Delete</button>
          </form>
        </div>
          <div class="col-6">
            <a href="/goals/<%= goal.id %>/edit"><button class="btn btn-dark"  type="submit" id="update" name="update">Update Goal</button></a>
        </div>
      </div>
      </li>
    </ul>   
  </div>
</div>

<!-- All Tasks -->
<div class="row d-flex justify-content-center mt-3 mb-5">
  <div class="col-md-10">
  <div class="list-group">
      <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
        All Tasks
      </button>
      <button type="button" class="list-group-item list-group-item-action">A second button item</button>
      <button type="button" class="list-group-item list-group-item-action">A third button item</button>
      <button type="button" class="list-group-item list-group-item-action">A fourth button item</button>
      <button type="button" class="list-group-item list-group-item-action" disabled>A disabled button item</button>
      
      <!-- Button trigger modal -->
        <div class="list-group">
          <div class="list-group-item text-center">
            <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Update Tasks
            </button>
          </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Update tasks -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Start of to-do list -->
      <form action="/tasks" method="POST">
        <div class="col mx-1">
          <div class="container">
                  <div class="input-group mb-1">
                      <input id="input" type="text" placeholder="e.g. Find hiking boots">
                      <span><button id="btn-task" class="btn btn-primary" type="button">Add Task</button></span>
                  </div>
      
              <div id="list" class="list-group">
                <div class="row d-flex align-items-center">
                    <div class="col-11">
                    <input id="0" type="text" style="margin: 0; padding:0;" class="list-group-item-sm list-group-item-action" name="name" value="find boots" disabled>
                    </div>
                    <div class="col-1 align-self-start">
                    <input class="form-check-input" style="margin: 0; padding:0;width:25px; height:25px" type="checkbox" value="" aria-label="Checkbox for following text input">
                  </div>
                </div>
              </div>
          </div>
          </div>
      </div>
      <!-- submit button for task post form -->
      <div class="modal-footer">
        <input hidden type="text" name="goalId" value="<%= goal.id %>">
        <!-- <input type="text" name="name" value="buy socks"> -->
        <button type="submit" class="btn btn-secondary" data-bs-dismiss="modal">Save Changes</button>
      </form>
      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>


<script>

  const input = document.querySelector('input');
  const log = document.getElementById('values');
  let btn = document.getElementById('btn-task')
  let list = document.getElementById('list')
  let checkbox = document.getElementById('2')
  let id = 1
  
btn.addEventListener('click', function addTodoItem () {
    if(input.value === "") {
        console.log('update user error message to say, input a value please')
    } else {
        let item = `<div class="row d-flex align-items-center">
          <div class="col-11"><input id="${id}" type="text" class="list-group-item-md list-group-item-action" value="${input.value}" disabled>
          </div>
          <div class="col-1 align-self-start">
          <input id="${id}" style="margin: 0; padding:0;width:25px; height:25px" class="form-check-input checkbox" type="checkbox" value="" aria-label="Checkbox">
          </div>
        </div>`
        list.insertAdjacentHTML('beforeend', item)
        id ++
    }
})

// checkbox.forEach(checkbox => {
//   checkbox.addEventListener('change', function () {
//   console.log('hello')
// })
// })

</script>
<%- include('../partials/footer.ejs') %>
