<%- include('../partials/header.ejs', {user}) %>

<div></div>
<p>You are signed in as <%= user %></p>

<img src="<%= goal.img_url %>" class="goalheader" alt="...">

<div class="container text-center">
    <div class="row">
      <div class="col-2 border border-1">
        <h4>Project Name: associated with goal</h4>
        <h5>Other Goals: associated with this project</h5>
      </div>
      <div class="col-4 border border-1">
        <h2>Goal: <%= goal.name %></h2>
        <p>Project Description: <%= goal.description %></p>
        <p>Due Date: <%= goal.due_date %></p>

        <form method="POST" action="/goals/<%= goal.id %>?_method=DELETE">
            <label for="delete">Delete Goal</label>
            <button class="btn btn-dark" type="submit" id="delete" name="_method">Delete</button>
            </form>
            
            <a href="/goals/<%= goal.id %>/edit"><button class="btn btn-dark"  type="submit" id="update" name="update">Update Goal</button></a>
      </div>
      <div class="col-6 border border-1">
        <h3>All tasks</h3>
      </div>

      <div class="row justify-content-center ms-1">
        <div class="col-12 border border-1 text-center">
            <h2>Blog here</h2>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
    <p>Please select a photo header for your goal.</p>
    <form method="POST" action="/goals/<%= goal.id %>">
          <input type="text" class="form-control shadow-sm" name="photoSearch" placeholder="Search 'workout'">
          <button class="btn btn-primary my-3" name="search">Search</button>
    </div>
    </div>
    <div class="container text-center bg-secondary bg-gradient">
      <% photo.forEach(photo => { %>
        <label class="m-1">
          <input type="radio" id="<%= photo.id %>" name="images" value="<%= photo.urls.regular %>">
              <img src="<%= photo.urls.regular %>&fm=jpg&w=200&fit=max&h=150" id="<%= photo.id %>>" alt="<%= photo.description %>" class="img-thumbnail">
        </label>
      <% }) %>
      <button type="submit" class="btn btn-primary my-3">Select Photo</button>
    </div>
  </form>
  </div>
<%- include('../partials/footer.ejs') %>
