<%- include('../partials/header.ejs', {user}) %>

<!-- Header Card with Img Cap -->
<div class="card mb-3 ">
    <img src="<%= project.img_url %>" class="goalheaderimg shadow-lg" alt="...">
    <div class="card-img-overlay">
      <a href="/projects/<%= project.id %>/photo"><button class="btn btn-sm btn-light border">Update Photo</button></a>
    </div>
    <div class="card-body">
        <h5 class="card-title">Project: <%= project.name %></h5>
        <p class="card-text"><span class="fw-bold">Project Description:</span> <%= project.description %></p>
    </div>
  </div>

  <!-- Project dashboard -->
  <!-- Project Info -->
  <div class="d-flex justify-content-start flex-wrap">
    <div class="col-md-6 p-2 rounded ">
      <ul class="list-group p-3 rounded">
        <li class="list-group-item"><h2><span class="fw-bold">project:</span> <%= project.name %></h2></li>
        <li class="list-group-item"><p><span class="fw-bold">Project Description:</span> <%= project.description %></p></li>
        <li class="list-group-item"><p><span class="fw-bold">Due Date:</span>
        </span> <%= project.due_date %></p></li>
        <li class="list-group-item"><p><span class="fw-bold">Project Progress:</span> <%= project.progress %></p></li>
        <li class="list-group-item"><p><span class="fw-bold">Who can see project:</span> <%= project.public %></p></li>
      
      <li class="list-group-item">
        <div class="row">
          <div class="col-6">
          <form method="POST" action="/projects/<%= project.id %>?_method=DELETE">
            <label for="delete"></label>
            <button class="btn btn-dark" type="submit" id="delete" name="_method">Delete</button>
          </form>
        </div>
          <div class="col-6">
            <a href="/projects/<%= project.id %>/edit"><button class="btn btn-dark"  type="submit" id="update" name="update">Update</button></a>
        </div>
      </div>
      </li>
    </ul>   
  </div>
  <div class="col-md-6 p-2 rounded ">
      <div class="card-body card p-3">
        <h5 class="card-title p-2">Project's Goals</h5>
        <table class="table">
        <tr>
          <th scope="col"></th>
          <th scope="col">Name</th>
          <th scope="col">Due Date</th>
          <th scope="col">Description</th>
          <th scope="col">See Details</th>
        </tr>
        <% if(project.goals.length > 0 ) {%> 
          <% project.goals.forEach(goal => { %> 
            <tbody>
              <tr>
                <th scope="row"></th>
                <td><%= goal.name%></td>
                <td><%= goal.due_date%></td>
                <td><%= goal.description%></td>
                <a href="/goals/<%= goal.id %>"><td><button class="btn btn-dark">Details</button></td></a>
              </tr>
            
          <% }) %>
          </tbody>
        </table>
        <% } %> 
        <div class="text-center">
        <a href="/goals/new"><td><button class="btn btn-dark">New Goal</button></td></a>
      </div>
  </div>
</div>

<%- include('../partials/footer.ejs') %>